<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>

    <!--inicio css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.css">
    <!--fim css -->

    <!--inicio js -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>

    <script src="app/config/pd-app.js"></script>
    <script src="app/service/alert.service.js"></script>
    <script src="app/controller/cadastro-carro.controller.js"></script>
    <script src="app/filter/maiusculo.filter.js"></script>
    <!--inicio js -->

</head>
<body ng-app="pdApp" class="container">

<div ng-controller="CadastroCarroController">
    <form name="carroForm" novalidate>

        <div class="panel panel-success">

            <div class="panel-heading">
                Cadastro de Carro
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{'has-error': carroForm.nomeCarro.$touched && carroForm.nomeCarro.$invalid}">
                            <label class="control-label">Carro</label>
                            <input type="text"
                                   class="form-control"
                                   ng-required="true"
                                   ng-minlength="3"
                                   ng-maxlength="20"
                                   name="nomeCarro"
                                   autofocus = "true"
                                   id="nomeCarro"
                                   ng-model="entidade.nomeCarro">
                            <div ng-messages="carroForm.nomeCarro.$error"
                                 ng-if="carroForm.nomeCarro.$touched" class="text-danger">
                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{'has-error': carroForm.corCarro.$touched && carroForm.corCarro.$invalid}">
                            <label class="control-label">Cor</label>
                            <input type="text"
                                   class="form-control"
                                   ng-required="true"
                                   name="corCarro"
                                   ng-model="entidade.corCarro">
                            <div ng-messages="carroForm.corCarro.$error"
                                 class="text-danger"
                                 ng-if="carroForm.corCarro.$touched">
                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{'has-error': carroForm.dataLancamento.$touched && carroForm.dataLancamento.$invalid}">
                            <label class="control-label">Data de Lançamento</label>
                            <input type="date"
                                   class="form-control"
                                   ng-required="true"
                                   name="dataLancamento"
                                   ng-model="entidade.dataLancamento">
                            <div ng-messages="carroForm.dataLancamento.$error"
                                 class="text-danger"
                                 ng-if="carroForm.dataLancamento.$touched">
                                <div ng-messages-include="app/template/input-ng-messages.html"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <tr>
                                <th>Nome do carro</th>
                                <th>Cor do carro</th>
                                <th>Data de lançamento</th>
                            </tr>
                            <tr ng-repeat="carro in listaCarros">
                                <td ng-bind="carro.nomeCarro"></td>
                                <td ng-bind="carro.corCarro | maiusculo"></td>
                                <td ng-bind="carro.dataLancamento | date: 'dd/MM/yyyy'"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <button class="btn btn-primary navbar-btn" ng-click="salvar()">Salvar</button>
                <button class="btn btn-warning navbar-btn" ng-click="limpar()">Limpar</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>